{% load i18n %}
<!DOCTYPE html>

<html >
{% block head %}
<head
	{% block head_attr %}
	{% endblock %}
>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" 
		content="width=device-width, initial-scale=1">
    {% block meta_description %}
    <meta name="description" 
		content="Nicole Kids : Baju anak bergambar tanpa makhluk hidup">
	{% endblock %}
	
    <title>
		{% block title_inside %}
		Nicole Kids : Baju anak bergambar tanpa makhluk hidup
		{% endblock %}
	</title>

	{% load staticfiles %}
	{% block static_override_outside %}
		<link href="https://fonts.googleapis.com/icon?family=Material+Icons"
		rel="stylesheet">
		<link rel="stylesheet" href="{% static 'store/css/all.min.css' %}"/>
		
		<script src="https://cdn.jsdelivr.net/npm/js-cookie@beta/dist/js.cookie.min.js"></script>
		<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/lozad/dist/lozad.min.js"></script>
		<script type="text/javascript" src="{% static 'store/js/lib/vue.js' %}"></script>
		
		<script type="text/javascript" src="{% static 'store/js/all.js' %}"></script>
		<script type="text/javascript" src="/store/frontend_config.js"></script>
		{% block static_override_inside %}
		{% endblock %}
	{% endblock %}
		
	
	{% block head_inside %}
    {% endblock %}
</head>
{% endblock %}
<body
	{% block body_attr %}
	{% endblock %}
>	
	{% block body_inside %}
	{% endblock %}
	
	{% block script %}
		{% block script_inside %}
		{% endblock %}
	{% endblock %}

	{% block footer_inside %}
	{% endblock %}
</body>

