/*
// ----------------------------------------------
// Usage example:
// For IE set $mq-support to false.
// Set the fixed value.
// Then use mixins to test whether styles should be applied.
// ----------------------------------------------

$mq-support: false;
$mq-fixed-value: 1024;

// Renders at fixed value
@include bp (min-width, 300px) { 
    div { color:#000; }
}

// Doesn't render without MQ support
@include bp (min-width, 1200px) { 
    div { color:#FFF; }
}

// Doesn't render without MQ support
@include bp (max-width, 300px) { 
    div { color:#444; }
}

// Renders at fixed value
@include bp (max-width, 1200px) { 
    div { color:#888; }
}

// ----------------------------------------------
*/
/* at-root, but replace some part of the selector */
body {
  font-family: "Dosis", sans-serif;
}

.model {
  display: none;
}

h1 {
  text-transform: capitalize;
}

#product-list-container {
  font-size: 0;
}

#product-list-container li.product-list-item {
  display: inline-block;
  width: 33%;
  text-align: center;
}

#product-list-container.expand li.product-list-item {
  width: 100%;
  max-height: 95vw;
}

#product-list-container li.product-list-item .inside {
  cursor: pointer;
  display: inline-block;
}

#product-list-container.expand li.product-list-item .inside {
  cursor: default;
}

#product-list-container li.product-list-item .inside .product-info {
  font-size: 14px;
  display: none;
}

#product-list-container li.product-list-item .inside .image-box {
  display: inline-block;
}

#product-list-container li.product-list-item .inside .image-box img {
  display: inline-block;
  width: 100%;
  height: auto;
}

#product-list-container li.product-list-item .inside .image-box img.img-front {
  display: inline-block;
}

#product-list-container li.product-list-item .inside .image-box img.img-pic {
  display: none;
}

#product-list-container li.product-list-item .inside .image-box.pic img.img-front {
  display: none;
}

#product-list-container li.product-list-item .inside .image-box.pic img.img-pic {
  display: inline-block;
}

#product-list-container li.product-list-item .action-bar {
  font-size: 14px;
  display: none;
}

#product-list-container.expand li.product-list-item .action-bar {
  display: block;
}

#product-list-container li.product-list-item .action-bar .absolute {
  z-index: 1;
  width: 100%;
  top: 80vw;
}

@media only screen and (min-width: 800px) {
  #product-list-container li.product-list-item .action-bar .absolute {
    top: 700px;
  }
}

#product-list-container li.product-list-item .action-bar .box {
  text-align: right;
  font-size: 0;
}

#product-list-container li.product-list-item .action-bar .box button {
  vertical-align: bottom;
  font-size: 14px;
  padding-left: 10px;
  padding-right: 10px;
  min-height: 44px;
  background-color: floralwhite;
  border-right-width: 0;
}

#product-list-container li.product-list-item .action-bar .box button:last-of-type {
  border-right-width: 1px;
}

#product-list-container li.product-list-item .action-bar .box button i, #product-list-container li.product-list-item .action-bar .box button span {
  vertical-align: middle;
}

#product-list-container li.product-list-item .action-bar .box button .text {
  display: inline-block;
  overflow: hidden;
  transition: width 0.5s;
}

#product-list-container li.product-list-item .action-bar .box button.add-to-cart {
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

#product-list-container li.product-list-item .action-bar .box button.add-to-cart .text {
  width: 23px;
}

#product-list-container li.product-list-item .action-bar .box .media {
  display: inline-block;
  vertical-align: middle;
  height: 50px;
}

#product-list-container li.product-list-item .action-bar .box .media img {
  height: 50px;
  width: auto;
}

#product-list-container li.product-list-item .action-bar .box .media .text {
  width: 56px;
}

#product-list-container li.product-list-item .action-bar .box button.size .text {
  width: 44px;
}

#product-list-container li.product-list-item .action-bar .box button.fold {
  padding-left: 2px;
  padding-right: 2px;
}

#product-list-container li.product-list-item .action-bar .box button.fold .left {
  display: none;
}

#product-list-container li.product-list-item .action-bar .box.folded button .text {
  width: 0px;
}

#product-list-container li.product-list-item .action-bar .box.folded button.fold .left {
  display: inline-block;
}

#product-list-container li.product-list-item .action-bar .box.folded button.fold .right {
  display: none;
}

#product-list-container #product-list-make-grid {
  display: none;
  position: fixed;
  z-index: 2;
  right: 5px;
  top: 5px;
  width: 10vw;
  height: 10vw;
  max-width: 40px;
  max-height: 40px;
}

#product-list-container.expand #product-list-make-grid {
  display: block;
}
